.card {
  background: #FDE9C9;
  border-radius: 15px;
  width: 160px;
  display: flex;
  flex-direction: column;
  padding: 6px;
  &:nth-child(2n) {
    transform: translateY(-50px);
  }

  .preview {
    text-align: center;
    border-radius: 9px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  
  .details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .title, .price {
      margin: 0;
      padding: 0;
    }
    .title {
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      color: #000000;
    }
    .price {
      font-weight: 800;
      font-size: 12px;
      line-height: 15px;
      color: #000000;

      small {
        font-size: 7px;
      }
    }
  }
}